.custom-navbar {
  background: linear-gradient(to bottom, #1d5281, #7d99b2);
}

.explore-btn {
  background: linear-gradient(to right, #1d5281, #7d99b2);
  transition: 0.3s ease;
}

.explore-btn:hover {
  transform: translateY(-3px);
  filter: brightness(1.2);
  text-decoration: none;
}



.bg-image {
  background-image: url("images/img1.jpeg");
  background-size: cover;      /* ensures full coverage */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
}



