.custom-navbar {
  background: linear-gradient(to bottom, #1d5281, #7d99b2);
}

.explore-btn {
  background: linear-gradient(to right, #1d5281, #7d99b2);
  transition: 0.3s ease;
}

.explore-btn:hover {
  transform: translateY(-3px);
  filter: brightness(1.2);
  text-decoration: none;
}



.bg-image {
  background-image: url("images/img1.jpeg");
  background-size: cover;      /* ensures full coverage */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
}





/* .fullbody {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;            
    padding: 40px 0 0 300px;
    min-height: 60vh;
    background: linear-gradient(to bottom, #1d5281, #7d99b2);
}

.background {
    height: 50vh;
    width: 300px;
     object-fit: cover; 
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.3);  
}

.text-area {
    max-width: 420px;
}

.tagline {
    font-size: 24px;
    color: white;
    font-weight: bold;
    line-height: 1.3;
}

.desc {
    margin-top: 10px;
    color: #e6e6e6;
    font-size: 16px;
    line-height: 1.4;
} */
