.custom-navbar {
  background: linear-gradient(to bottom, #1d5281, #7d99b2);
}

.explore-btn {
  background: linear-gradient(to right, #1d5281, #7d99b2);
  transition: 0.3s ease;
}

.explore-btn:hover {
  transform: translateY(-3px);
  filter: brightness(1.2);
  text-decoration: none;
}

.bg-vedio-wrapper {
  position: relative;
  overflow: hidden;
}

.bg-vedio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* z-index: 1; */
}

.bg-vedio-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.25);
  z-index: 2;
}


.hover-card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
}

.hover-card img {
    transition: transform 0.5s ease;
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}


.hover-text-box {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 25%;
    padding: 15px;
    background: rgba(0,0,0,0.65);
    color: white;
    text-align: center;
    transition: bottom 0.5s ease;
    border-radius: 0 0 12px 12px;
}

.hover-card:hover .hover-text-box {
    bottom: 0;
}

.destination-link {
    position: relative;
    text-decoration: none;
    /* color: inherit; */
    font-weight: 500;
    padding-bottom: 3px;
}

.destination-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(221, 154, 9);
    transition: width 0.35s ease;
}

.destination-link:hover::after {
    width: 100%;
}



h5 {
    font-size: 1rem;
    letter-spacing: 0.5px;
}


.formbtn{
  background: linear-gradient(to bottom, #1d5281, #7d99b2);
  border: none;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.15) !important;
    transition: 0.2s ease;
}
.card {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}




